params {

  /*
  * pipeline input parameters
  */
  idatDir = "/groups/umcg-gsad/tmp01/rawdata/array/IDAT/"
  gtcDir = "/groups/umcg-gsad/tmp01/rawdata/array/GTC/"
  outdir = "$launchDir/results"
  launchDir = ""
  samplesheet = "${launchDir}/samplesheet.csv"
  finalreport = "finalreport.txt"
  manifest = "/apps/data/GSAarray/GSAMD-24v3-0-EA_20034606_A1.bpm"
  manifestDir = "/apps/data/GSAarray/"
	opticallVersion = "opticall/0.8.1-GCCcore-11.3.0"
	beadArrayVersion = 'BeadArrayFiles/1.3.3-foss-2022a-Python-3.10.4'
	gapVersion= 'GAP/2.7.0'
  }

profiles {
  local {
    process.executor = 'local'
    process.cpus = 2
  }

  slurm {
    process {
      executor = 'slurm'

      errorStrategy = { task.exitStatus in 104..143 ? 'retry' : 'finish' }
      maxRetries = 2
      maxErrors = '-1'

      cpus = 1
      memory = '1.GB' 
      time = '1 hour'

      withLabel:'small' {
        cpus = { 1 * task.attempt }
        memory = { 1.GB * task.attempt }
        time = { 10.s * task.attempt }
      }

      withLabel:'medium' {
        cpus =   { 2 * task.attempt }
        memory = { 2.GB * task.attempt }
        time =   { 1.m * task.attempt }
      }

      withLabel:'large' {
        cpus = { 2 * task.attempt }
        memory = { 5.GB * task.attempt }
        time = { 5.h * task.attempt }
      }

      withName:'gtcToFinalReport' {
        cpus = { 1 * task.attempt }
        memory = { 2.GB * task.attempt }
        time = { 20.m * task.attempt }
      }
    }
  }
}
